
body {
    background-image: url('photo.gif');
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.mohi {
 background-color: #ffffffd6;
}



h2 {
    margin-bottom: 20px;
    color: #333333;
    
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #666666;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ceb2b2;
    border-radius: 4px;
    font-size: 14px;
}

button {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #00000058;
}

#message {
    margin-top: 10px;
    font-size: 14px;
}
.revan{
    background-color: #285cf758;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 15px;
    margin-bottom: 3px;
}
